@charset "UTF-8";


body{margin:0px}

#wrap {
	overflow: visible;
	margin: 0 auto;
	width: 1000px;
}
#header{
	display: inline-block;
    position: relative;
    top: 47px;
    left: 4px;
    font-size: 23px;
   
}
#header>a{
	text-decoration:none;
	color: #717171;
}


/*------------슬라이더바--------------------*/
.bx-viewport{
	width: 100%;
    overflow: hidden;
    position: relative;
    height: 340px;
}
.bx-wrapper img{
    width: 450px;
    height: 300px;
    max-width: 100%;
    display: inline-block;
    position: relative;
    left: -7px;
    margin-left: 35px;
}




/*-------------네비게이션 영역---------------*/
#navWrap{
	   
	
}
#nav{
	list-style: none;
	display: inline-block;
	width: 850px;
}
.navLi{
	display: inline-block;
    margin-right: 50px;
    position: relative;
    left: 200px;
}
.navLi>a{
	text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
}
#dropDownWrap{
	display: inline-block;
    position: relative;
    z-index: 1;
}
#dropDownWrap>ul{
	position: absolute;
    left: 10px;
    width: 86px;
    border: solid 1px #ababab;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    text-align: center;
    list-style: none;
    background: white;
    display: none;
}
#dropDownBtn{
	position: relative;
    border: none;
    background: white;
    font-weight: bold;
    font-size: 18px;
}
#dropDownWrap a{
	text-decoration: none;
    color: black;
}

/*-------------아이템리스트 영역---------------*/
#itemListWrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.itemWrap{
	width: 274px;
	height: 355px;
	margin-bottom: 20px;
	position: relative;
}

.itemImg {
	width: 274px;
	height: 274px;
}

.itemImgWrap {
	width: 274px;
	height: 274px;
	overflow: hidden;
}



.itemId{
	   visibility: hidden;
	
}
.itemTextWrap{
	display:inline-block;

}

.itemText{
	font-size: 23px;
    font-weight: 100;

}


.itemPrice{
	font-size: 18px;
    
}
.itemDiscountNumWrap{
	display: inline-block;
    position: relative;
    color:red;
	font-size: 24px;
   
}
.itemDiscountNum{
	
}
.itemResultPriceWrap{
    position: relative;
    font-size: 35px;
    text-align: right;
        bottom: 30px;
        font-weight: bold;
}

/*------------------------------------*/
/*------------footer------------------*/
#footer {
	border-top: 1px solid rgb(191, 181, 181);;
	border-bottom: 1px solid rgb(191, 181, 181);
	margin-top: 100px;
	margin-bottom: 50px;
}

#footerTitle {
	display: inline-block;
}

#footerContens {
	display: inline-block;
	font-size: x-large;
	position: relative;
	left: 70px;
}
/*-----------------로그인,회원가입 영역-----------*/
.sign_box {
	border: double;
	height: 400px;
	width: 400px;
	position: relative;
	top: 50%;
	left: 30%;
	margin-bottom: 10px;
}

.id_login {
	width: 265px;
	height: 47px;
	border-style: hidden;
	border-bottom-style: dotted;
}

.password_login {
	width: 265px;
	height: 47px;
	border-style: hidden;
	border-bottom-style: dotted;
	margin-bottom: 10px;
}

.login_button {
	width: 274px;
	height: 47px;
	position: relative;
	background: white;
	border-style: dotted;
}

#signUpBtn {
	border-style: dotted;
	background: white;
	margin-top: 10px;
	position: relative;
	left: 267px;
	display: block;
}

#loginSearch>a {
	margin-top: 10px;
	position: relative;
	left: 157px;
	color: #767676;
}

#birthday {
	display: block;
	width: 266px;
	border-style: dotted;
	margin-bottom: 10px;
}

#phoneNum {
	display: block;
	width: 266px;
	border-style: dotted;
	margin-bottom: 10px;
}

#email {
	display: block;
	width: 266px;
	border-style: dotted;
	margin-bottom: 10px;
}
#houseLocation{
	display: block;
	width: 266px;
	border-style: dotted;
	margin-bottom: 10px;
}
/*-----------------아이템뷰 영역-----------*/
#itemViewWrap {
	
}

#itemViewImg {
	display: inline-block;
	width: 500px;
	height: 500px;
}

#itemViewImg>img {
	width: 500px;
	height: 500px;
}

#itemViewTextWrap {
	display: inline-block;
	width: 495px;
	height: 500px;
	position: absolute;
}

.itemViewText {
	font-size: 25px;
	position: relative;
	margin-left: 50px;
	margin-bottom: 17px;
	    border-bottom: solid 1px #e0e0e0;
}

.itemViewText>.itemView {
	display: inline-block;
	margin-left: 100px;
}
#itemViewBtn{
	position: relative;
    left: 854px;
    margin-bottom: 10px;
	
}
.review{
	display:inline-block;
}
#reviewContents{
	width: 540px;
	text-align: center;
	border-collapse: collapse;
}
#reviewContents th:nth-child(1){
	
	width: 60px;
}
#reviewContents th:nth-child(2){
	
	width: 270px;
}
#reviewContents th:nth-child(3){
	    width: 91px;
	
}
#reviewContents th:nth-child(4){
	
	    width: 85px;
}
#reviewContents tr{
	border-bottom: solid 1px black;
}
#starReviewIconWrap{
	display:inline-block;
}
#writeReviewWrap{
	display: inline-block;
    position: relative;
    left: 50px;
}
#writeReview{
	  
	width: 300px;
    border: none;
    border-bottom: solid 1px #e0e0e0;
    text-align:center;
}
#writeReviewBtn{
	position: relative;
    width: 90px;
    left: 7px;
    background: #f7c856;
    border: solid 1px black;
    font-family: Dotum,'돋움';
}
#itemViewPriceSum{
	font-size: 48px;
    display: inline-block;
    position: relative;
    left: 373px;
    color: red;
    font-weight: bold;
}


/*-------------장바구니 영역------------------*/
#cartBtnWrap{
	position: fixed;
    top: 350px;
    right: 20px;
	z-index: 3;
}
#cartBtn{}
#cartViewOutSide{
	position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 70%;
    z-index: 1;
    top:0px;
	
}
#cartView{
    width: 1000px;
    height: 1000px;
    position: fixed;
    top: 1px;
    right: 5px;
    z-index: 2;
    background: white;
}
.cartTable{
	width: 215px;
    height: 50px;
    text-align: center;
}
.cartTable>img{
	width:100px;
	height:100px;
}
.cartTableWrap table{
	border:none;
	width: 979px;
}
.cartTableWrap{
	position: relative;
    top: 30px;
    text-align: center;
    display: inline-block;
    overflow:scroll;
    height:500px;
}
#cartTextWrap{
       display: inline-block;
    position: fixed;
    border: solid 1px #ccc9c9;
    width: 300px;
    height: 274px;
    text-align: left;
    right: 125px;
    top: 144px;
}
.cartText:nth-child(1){
	    font-size: 25px;
    display: inline-block;
    position: relative;
    top: 32px;
}
.cartText:nth-child(3){
	    font-size: 23px;
    display: inline-block;
    position: relative;
    top: 43px;
    color:red;
}
.cartText:nth-child(5){
	font-size: 25px;
    display: inline-block;
    position: relative;
       top: 85px;
}
.cartTextPrice:nth-child(2){
	    font-size: 20px;
    text-align: right;
    position: relative;
}
.cartTextPrice:nth-child(4){
    font-size: 20px;
    text-align: right;
    position: relative;
   bottom: -17px;
    border-bottom: dotted 2px black;
    color:red;
}
.cartTextPrice:nth-child(6){
	font-size: 26px;
    text-align: right;
    position: relative;
  top: 49px;
}


.cartTableItemWrap{
	position: relative;
    top: 30px;
    text-align: center;
    display: inline-block;
    min-height: 384px;
}
.cartTableItemWrap table{
	border:none;
	width: 700px;
	border-collapse:collapse;
}
.cartTableItemWrap img{
	width:100px;
	height:100px;
}
.cartTableItemWrap td,.cartTableItemWrap th{
	border-bottom: solid 1px whitesmoke;
	
}
#cartOrderBtnWrap{
	position: relative;
    top: 63px;
    text-align: right;
}
#cartOrderBtn{
	background: #f7c856;
    border: solid 1px black;
    font-family: Dotum,'돋움';
}
/*------------결제영역--------------*/
#orderWrap{
	    
}
#orderImgWrap{
	display: inline-block;
	border: solid 1px #bdb9b9;
}
#orderImgWrap>ul{
	list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}
#orderImgWrap img{
	width:100px;
	height:100px;
}
#orderImgWrap>span{
	position: relative;
    top: 10px;
    left: 10px;
    font-size: 15pt;
    font-weight: bold;
}
#orderInfo ul{
	list-style: none;
}

/*------------아이콘---------------*/
#iconNav{
	position:absolute;
}
#iconWrap{
	font-size: 40px;
    position: absolute;
    display: inline-block;
    left: 772px;
    top: -56px;
    width: 250px;
}
#iconWrap>a:nth-child(1){
	position: relative;
    left: 28px;
}
#iconWrap>a:nth-child(2){
	position: relative;
    left: 56px;
}
#iconWrap>a:nth-child(3){
	position: relative;
    left: 84px;
}

#iconPower {
	
	color: #c5c5c5;
}

#iconUser {
	
	color: #c5c5c5;
}

#iconCart {

	color: #c5c5c5;
}
#iconChevron{}
.itemIcon{
	position: absolute;
    display: none;
    width: 274px;
    height: 50px;
    text-align: center;
    background: black;
    opacity: 70%;
    font-size:32px;
    top: 0px;
}
.fa-shopping-basket{
	    color: #dadada;
}

#logoWrap{
	
	
}
#logoWrap>img{
	  width: 220px;
    height: 100px;
}


/*------------게시판----------------*/
#bbsWrap a{
	text-decoration: none;
    color: black;

}
#bbsTableWrap>table{
	width: 1000px;
	text-align: center;
	border-collapse: collapse;
}
#bbsTableWrap th:nth-child(4){
	    width: 100px;
	
}
#bbsTableWrap th:nth-child(3){
	    width: 100px;
	
}

#bbsTableWrap th:nth-child(1){
	    width: 100px;
	
}
#bbsTableWrap th,#bbsTableWrap td{
	border-bottom: solid 1px #e0e0e0;
	padding: 10px;
   
}
#bbsWriteBtn{
	display: inline-block;
}
#bbsWriteBtn>button{
	background: #f7c856;
    border: solid 1px black;
    font-family: Dotum,'돋움';
}
#bbsPagingWrap{
	display: inline-block;
    position: relative;
    left: 389px;
    top: 10px;
}
#writeBbsWrap input:nth-child(1){
	width: 700px;
    height: 33px;
    position: relative;
    top: 50px;
    font-size:20pt;
}
#writeBbsWrap input:nth-child(3){
	position: relative;
    left: 707px;
    border: solid 1px black;
    background: #f7c856;;
    width: 45px;
    height: 30px;
}
#writeBbsWrap textarea{
	width: 700px;
    height: 400px;
    display: block;
    position: relative;
    top: 100px;
    resize:none;
    font-size: 16pt;
}
#bbsTitle{
	font-size: 24px;
}
#bbsMemberId{
	display: inline-block;
    border-right: solid 1px #bdb9b9;
    padding-right: 10px;
}
#bbsTime{
	display: inline-block;
}
#bbsContents{
	width: 1000px;
    height: 400px;
    font-size: 16pt;
    border-top: solid 1px #bdb9b9;
    padding-top: 30px;
}
#bbsViewWrap a{
	text-decoration: none;
    color: black;
}
#bbsViewWrap button:nth-child(5){
	background: #f7c856;
    border: solid 1px black;
    font-family: Dotum,'돋움';
}
#bbsViewWrap button:nth-child(6){
	background: #f7c856;
    border: solid 1px black;
    font-family: Dotum,'돋움';
}
/*---------개인정보,수정--------*/
#myInfoWrap{
	
}
#myInfoText{
	font-size: 35px;
    position: relative;
    top: 25px;
    background: whitesmoke;
    display: inline-block;
}
#myInfoBtn{
	display: inline-block;
    position: relative;
    top: 50px;
    right: 168px;
}
#myInfoBtn a{
	text-decoration:none;
}
#myInfoBtn button{
	background: #f7c856;
    border: solid 1px black;
    font-family: Dotum,'돋움';
}
.myInfoModifyWrap{
	    position: relative;
    display: inline-block;
    top: 16px;
	
}
.myInfoModifyWrap input{
	display: inline-block;
	border:none;
	border-bottom:solid 1px black;
}